<html>
<body>

{{#jobs}}

{{companyName}} {{url}} {{dateApplied}}

<form action="/editJob" method="post">
    <input type="hidden"  value="{{id}}" name="editId">
    <input type="text" onclick="this.select();" value="{{companyName}}" name="editCompany">
    <input type="text" onclick="this.select();" value="{{url}}" name="editUrl">
    <input type="text" onclick="this.select();" value="{{dateApplied}}" name="editDateApplied">
    <button type="submit">Submit</button>
</form>
{{/jobs}}
</body>
</html>