<html>
<body>
{{^user}}
<form action="/login" method="post">
<input type="text" placeholder="Username" name="userName" required/>
<input type="password" placeholder="Password" name="password" required/>
<button type="submit">Login</button>
</form>
{{/user}}
{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
    </form>
Welcome {{name}}!
<form action="/add" method="post">
<input type="text" placeholder="Company Name" name="companyName">
<input type="text" placeholder="Listing URL" name="url">
<input type="text" placeholder="Date Applied" name="dateApplied">
    <button type="submit">Submit</button>
    </form>
{{#jobs}}
<form action="/remove" method="post">
    <ol>
<li>{{companyName}} {{url}} {{dateApplied}}</li>
    </ol>
<input type="hidden" value="{{id}}" name="id">
<button type="submit">Delete</button>
</form>
<form action="/editJob" method="Get">
<input type="hidden" value="{{id}}" name="editId">
<button type="submit">Edit</button>
</form>
{{/jobs}}
{{#showNext}}
<a href="/?page={{nextPage}}">Next</a>
{{/showNext}}
{{#showLast}}
<a href="/?page={{lastPage}}">Previous</a>
{{/showLast}}
{{/user}}
</body>
</html>